body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-section{
    width:100%;
    height:fit-content;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    cursor: pointer;
    border-bottom:solid rgb(182, 177, 177) 1px;
}
.nav-section > h1{
    font-size:1.7rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
}
.nav-section > .mid{
    width:fit-content;
    display: flex;
    flex-direction: row;
    gap:4rem;
    list-style-type: none;
}
.nav-section > .mid a{
    font-size:1.15rem;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
    text-transform: capitalize;
    color:black;
}
.nav-section > .mid a:hover{
    text-decoration:underline rgb(0, 0, 0) 1px;
    text-underline-offset:5px;
}
.nav-section > .right{
    width:fit-content;
    display: flex;
    flex-direction: row;
    gap:2.5rem;
}
.nav-section > .right > input{
    border:none;
    outline: none;
    background-color:rgb(230, 226, 226);
    border-radius:0.25rem;
    padding:0.5rem;
}
.nav-section >  .right > img{
    height:1.8rem;
}
.header-section{
    width:82vw;
    display: flex;
    flex-direction:row;
    margin-top:-1.2rem;
}
.header-section > .item1{
    width:25%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding:0.5rem;
}
.header-section > .item1 > .card{
    width:100%;
    height:2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    cursor: pointer;
    img{
        display: none;
    }
}
.header-section > .item1 > .card:hover{
    img{
        height:0.8rem;
        display: inline;
    }
}
.header-section > .item1 > .card > h4{
    font-size:1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    font-weight:550;
}
.header-section > .item2{
    width:75%;
    height:25rem;
    padding:2rem;
    border-left:solid 1px rgb(219, 214, 214);
}
.header-section > .item2 > .container{
    width:100%;
    height:100%;
    background-image:url('./images/');
    background-size:100% 100%;
}
.header-section > .item2 > .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap:1rem;
    padding:1rem;

}
.header-section > .item2 > .container > div{
    width:0.5rem;
    height:0.5rem;
    border-radius:50%;
    border:solid 1px white;
}
main{
    width:85vw;
    display: flex;
    flex-direction: column;
    margin-top:4rem;
    /* border:solid 1px; */
}
main > .sales-item{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:1rem;
}
main > .sales-item > .item{
    width:11rem;
    display:flex;
    flex-direction: column;
    gap:0;
    position:relative;
    cursor: pointer;
}
main > .sales-item > .item:hover{
    transform: scale(1.01);
}
main > .sales-item > .item > .discount{
    width:fit-content;
    font-size:1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color:white;
    background-color:red;
    border-radius:0.25rem;
    padding:0.3rem;
    /* border:solid 1px; */
    position: absolute;
    left:0.3rem;
    top:0.3rem;
    z-index:1;

}
main > .sales-item > .item > .card{
    width:100%;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    /* border:solid 1px; */
    button{
        display:none;
    }
}
main > .sales-item > .item > .spec{
    width:1.5rem;
    position: absolute;
    display: flex;
    flex-direction:column;
    top:0.25rem;
    left:85%;
    img{
        width:100%;
        border-radius:50%;
    }
    img:hover{
        transform: scale(1.1);
    }
}

main > .sales-item > .item > .card:hover{
    img{
        width:100%;
    }
    button{
        width:100%;
        height:2rem;
        display:inline;
        background-color:black;
        font-size:1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform:capitalize;
        color:white;
        border:none;
        border-radius:0.2rem;
        z-index:1;
        cursor: pointer;
        position: absolute;
    }
    button:hover{
        font-size:1.01rem;
        transition:font-size 0.1s;
    }
}
main > .sales-item > .item > .card > img{
    aspect-ratio:4/4;
    border-radius:0.5rem;
    box-shadow:0px 0px 0px 1px rgb(241, 240, 240);
}
main > .sales-item > .item > .text{
    width:100%;
    height:fit-content;
}
main > .sales-item > .item > .text > h3{
    font-size:0.9rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:600;
}
main > .sales-item > .item > .text > h5{
    font-size:0.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:red;
    font-weight:600;
    margin-top:-0.5rem;
    word-spacing:0.5rem;
}
main > .sales-item > .item > .text span{
    color:rgb(139, 134, 134);
    text-decoration: line-through;
}
main > center > div{
    color: white;
    font-size:1.15rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius:0.25rem;
    text-transform: capitalize;
    width:fit-content;
    padding:0.8rem;
    background-color:red;
}
hr {
    border: none; 
    height: 1px; 
    background-color: rgb(197, 195, 195);
    margin: 20px 0;
}
main > .catalogs{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:0.5rem;
}
main > .catalogs > .text{
    height:fit-content;
    display: flex;
    flex-direction:column;
    align-content:center;
}
main > .catalogs > .btn-view{
    font-size:1.15rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:500;
    text-transform: capitalize;
    color:white;
    background-color:rgb(216, 6, 6);
    border-radius:0.2rem;
    padding:0.6rem 1.1rem;
}
main > .catalogs > .box{
    display:flex;
    flex-direction:row;
    align-items: flex-end;
    gap:1rem;
}
main > .catalogs > .box > img{
    width:1.5rem;
    border-radius:50%;
    box-shadow:0px 0px 0px 1px rgb(219, 216, 216);
    background-color: rgb(249, 251, 253);
    padding:0.2rem;
}
main > .catalogs > .text > .box{
    display: flex;
    flex-direction:row;
    align-items: center;
    gap:0.5rem;
}
main > .catalogs > .text > .box > div{
    width:0.7rem;
    height:1.3rem;
    background-color:rgb(219, 7, 7);
    border-radius:0.15rem;
}
main > .catalogs > .text > .box > h5{
    font-size:1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    color: rgb(219, 7, 7);
}
main > .catalogs > .text > h2{
    font-size:1.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: capitalize;
    margin-top:-1rem;
}
main > .categories{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin-bottom:2rem;
}
main > .categories > .card{
    width:7rem;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:solid 1px rgb(202, 201, 201);
    padding:0.5rem;
    border-radius:0.25rem;
}
main > .categories > .card > h3{
    font-size:1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
main > .categories img{
    width:5rem;
}
main > .selling-products{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
main > .selling-products > .item{
    width:11rem;
    position: relative;
}
main > .selling-products > .item > .spec{
    width:1.5rem;
    position: absolute;
    left:9rem;
    top:0.25rem;
    z-index: 1;
}
main > .selling-products > .item > .spec > img{
    width:100%;
    border-radius:50%;
}
main > .selling-products > .item > .spec > img:hover{
    width:1.4rem;
}
main > .selling-products > .item > .card{
    width:100%;
    display:flex;
    flex-direction: column-reverse;
    position: relative;
    box-shadow:0px 0px 0px 1px rgb(236, 233, 233);
    border-radius:0.25rem;
    button{
        display:none;
    }
}
main > .selling-products > .item > .card:hover{
    img{
        width:100%;
    }
    button{
        width:100%;
        height:2rem;
        display:inline;
        background-color:black;
        font-size:1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform:capitalize;
        color:white;
        border:none;
        border-radius:0.2rem;
        z-index:1;
        cursor: pointer;
        position: absolute;
    }
    button:hover{
        font-size:1.01rem;
        transition:font-size 0.1s;
    }
}
main > .selling-products > .item > .card > img{
    width:100%;
    border-radius:0.25rem;
}
main > .selling-products > .item > .text{
    width:100%;
    display:flex;
    flex-direction:column;
    gap:-4rem;
}
main > .selling-products > .item > .text > h3{
    font-size:1rem;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main > .selling-products > .item > .text > h5{
    font-size:0.85rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:red;
    word-spacing:0.5rem;
    margin-top:-0.5rem;
}
main > .selling-products > .item > .text span{
    color: rgb(150, 147, 147);
    text-decoration: line-through;
}
main > .banner{
    width:100%;
    height:40rem;
    background-image:url('./images/Frame\ 600.png');
    background-size:100% 100%;
}
main > .products{
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
main > .products > .item{
    width:12rem;
    display:flex;
    flex-direction: column;
    gap:0;
    position:relative;
}
main > .products > .item > .spec{
    width:1.5rem;
    position: absolute;
    left:10rem;
    top:0.25rem;
    z-index: 1;
}
main > .products > .item > .spec > img{
    width:100%;
    border-radius:50%;
}
main > .products > .item > .spec > img:hover{
    transform: scale(1.02);
}
main > .products > .item > .card{
    width:100%;
    display: flex;
    flex-direction: column-reverse;
    box-shadow:0px 0px 0px 1px rgb(238, 235, 235);
    border-radius:0.25rem;
    button{
        display: none;
    }
}

main > .products > .item > .card:hover{
    img{
        width:100%;
    }
    button{
        width:100%;
        height:2rem;
        display:inline;
        background-color:black;
        font-size:1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform:capitalize;
        color:white;
        border:none;
        border-radius:0.2rem;
        z-index:1;
        cursor: pointer;
        position: absolute;
    }
    button:hover{
        font-size:1.01rem;
        transition:font-size 0.1s;
    }
}
main > .products > .item > .text{
    display:flex;
    flex-direction:column;
}
main > .products > .item > .text > h3{
    font-size:1.05rem;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main > .products > .item > .text > h5{
    font-size:0.85rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:red;
    word-spacing:0.5rem;
    margin-top:-0.5rem;
}
main > .products > .item > .text span{
    color: rgb(150, 147, 147);
    text-decoration: line-through;
}
main > .new-arrival{
    width:100%;
    height:35rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(2,1fr);
    gap:1.2rem;
}
main > .new-arrival > .item1{
    grid-row:1/3;
    grid-column:1/3;
    background-image:url(./images/ps5.jpg);
}
main > .new-arrival > .item2{
    grid-column:3/5;
    grid-row:1/2;
    background-image:url('./images/womens_collection.png');
}
main > .new-arrival > .item3{
    background-image: url('./images/speakers.jpg');
}
main > .new-arrival > .item4{
    background-image: url('./images/gucci-perfume.jpg');
}
main > .new-arrival > .card{
    background-size:100% 100%;
    border-radius:0.25rem;
    padding:1rem;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
}
main > .new-arrival > .card > h3{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow:0px 0px 0px 1px white;
}
main > .new-arrival > .card > p{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main > .new-arrival > .card > a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    text-decoration:underline;
    text-underline-offset:0.25rem;
    text-transform: capitalize;
}
main > .service{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    margin-top:4rem;
}
main > .service > .card{
    width:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main > .service > .card > img{
    width:3.5rem;
}
main > .service > .card > h4{
    font-size:1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:0.5rem;
}
main > .service > .card > p{
    font-size:0.9rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:-1rem;
}
footer{
    width:100%;
    display:flex;
    flex-direction: row;
    background-color:black;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content:space-around;
    margin:-1rem;
    padding:0.5rem;
    margin-top:3rem;
}
footer > .card{
    width: 15%;
    display:flex;
    flex-direction:column;
    gap:0.7rem;
}
footer > .card > h2{
    font-size:1.25rem;
    font-weight:500;
}
footer > .input > li:nth-child(2){
    font-weight:600;
}
footer > .card > li{
    list-style: none;
}
footer > .card > input{
    width:7rem;
    padding:0.3rem;
    border:none;
    border-radius:0.12rem;
}
footer > .card > input:focus{
    outline:none;
    border: none;
}
footer > .download > .img{
    width:100%;
    display: flex;
    flex-direction:column;
    gap:0.5rem;
}
footer > .download > .img > .item{
    width:100%;
}
footer > .download > .img > .download{
    width:100%;
    display:flex;
    flex-direction:row;
    gap:0.2rem;
    img{
        width:50%;
    }
    .apps{
        width:50%;
    }
}
footer > .download > .img > .download > .apps{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap:0.1rem;
    img{
        width:100%;
    }
}
footer > .download > .img > .logo{
    display:flex;
    flex-direction: row;
    align-items: center;
    img{
        background-color:white;
        border-radius:50%;
        width:3vw;
    }
}

/* side effects on hover */
.item{
    cursor: pointer;
}
.item:hover{
    transform:scale(1.01);
}
.item > .card > button:hover{
    font-size:1.1rem;
    transition:font-size 0.1s;
}

::placeholder{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media (max-width:1090px) and (min-width:919px) {
    .nav-section{
        width:100%;
        justify-content:space-around;
    }
    .nav-section > .mid{
        gap:1.8rem;
    }
    .nav-section > .right{
        gap:1rem;
    }
    .header-section{
        width:90vw;
    }
    .header-section > .item1 > .card > h4{
        font-size:1rem;
    }
    .header-section > .item2{
        width:75%;
        height:16.4rem;
        padding:1.3rem;
    }
    main{
        width:92vw;
    }
    main > .banner{
        width:100%;
        height:20rem;
        background-image:url('./images/Frame\ 600.png');
        background-size:100% 100%;
    }
    main > .new-arrival{
        height:22.5rem;
    }
}